<%
fontSizeLimit = function(text, fontSize, maxWidth){
    let totalWidth = 0;
    let str = "";
    for(let char of text){
        // if its space or a number
        if(char === ' ' || /^\d+$/.test(char))
            totalWidth += fontSize * 0.7;
        // if its thin character
        else if(char.toLowerCase() === 'i' || char === 'f' || char === 'l' || char === 'j' || char === 'r' || char === 't' || char === '"' || char === "'" || char === '(' || char === ')' || char === ',' || char === '-' || char === '.')
            totalWidth += fontSize * 0.3;
        // if it's uppercase
        else if(char === char.toUpperCase())
            totalWidth += fontSize * 1.04;
        // all other symbols
        else
            totalWidth += fontSize * 0.8;
        if(totalWidth < maxWidth - 13)
            str += char;
        else
            return str + '...';
    }
    return str;
}
%>

<svg
        width="280"
        height="<%= (74+(recentPlayed.length-1)*42)*1.4 %>"
        viewBox="0 0 280 <%= (74+(recentPlayed.length-1)*42)*1.4 %>"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <rect width="280" height="<%= (73+(recentPlayed.length-1)*42)*1.4 %>" rx="5.6" fill="#212121" />
    <rect x="250" y="10" width="21" height="18.2" fill="url(#pattern-logo)" />

    <text
            fill="white"
            xml:space="preserve"
            style="white-space: pre"
            font-size="14"
            letter-spacing="0em"
    >
  <tspan x="9" y="<%= 23.5 %>">Recently Played</tspan>
</text>
    <%
            for (const [index, value] of recentPlayed.entries()) {
    %>
        <rect
                x="8.4"
                y="<%= (27+index*42)*1.4 %>"
                width="263.2"
                height="51.8"
                rx="2.8"
                fill="white"
                fill-opacity="0.11"
        />
        <rect x="14" y="<%= (31+index*42)*1.4 %>" width="40.6" height="40.6" rx="2.8" fill="<%= `url(#pattern${index})` %>" />
        <text
                fill="white"
                xml:space="preserve"
                style="white-space: pre"
                font-size="11.2"
                letter-spacing="0em"
        >
  <tspan x="60.2" y="<%= (42.844+index*42)*1.4 %>"><a id="netease" target="_blank" href="<%= recentPlayed[index].url %>"><%= fontSizeLimit(recentPlayed[index].name,8,220) %></a></tspan>
  </text>
        <text
                fill="white"
                fill-opacity="0.66"
                xml:space="preserve"
                style="white-space: pre"
                font-size="9.8"
                letter-spacing="0em"
        >
    <tspan x="60.2" y="<%= (54.258+index*42)*1.4 %>"><%= fontSizeLimit(recentPlayed[index].artist, 7, 220)  %></tspan>
</text>
    <%
    }
    %>
    <defs>
        <pattern
                id="pattern-logo"
                patternContentUnits="objectBoundingBox"
                width="1"
                height="1"
        >
            <use
                    xlink:href="#image-logo"
                    transform="translate(0 -0.00103455) scale(0.00129639 0.00141336)"
            />
        </pattern>
        <%
        for (const [index] of recentPlayed.entries()) {
        %>
            <pattern
                    id="<%= `pattern${index}` %>"
                    patternContentUnits="objectBoundingBox"
                    width="1"
                    height="1"
            >
                <use xlink:href="<%= `#image${index}` %>" transform="scale(0.00333333)" />
            </pattern>
        <%
        }
        %>
        <%
        for (const [index, value] of recentPlayed.entries()) {
        %>
            <image
                    id="<%= `image${index}` %>"
                    width="300"
                    height="300"
                    xlink:href="<%= value.cover %>"
            />
        <%
        }
        %>
        <image
                id="image-logo"
                width="2362"
                height="709"
                xlink:href="<%= recentPlayed[0].logo %>"
        />
        <style type="text/css">
            a{
                text-decoration: none;
            }
            text{
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
            }
            svg #netease {
                fill: #ffffff;
            }
            svg #netease:hover {
                fill: #e60026;
                cursor: pointer;
            }
        </style>
    </defs>
</svg>
